**AIVLE School 미니프로젝트**
### **공공데이터를 활용한 <span style="color:darkgreen">미세먼지 농도</span> 예측**
---

#### **<span style="color:red">[미션 안내]</span>**
* 개인 미션: 미세먼지 농도를 예측하는 머신러닝 모델을 만드세요. <br> ([1-1]부터 [1-2]까지, [2-1]부터 [2-8]까지, [3-1]부터 [3-2]까지 필수 수행, [4-1]부터 선택 수행)
* 조별 미션: 개인 미션 수행한 내용에 대해 토론하여 발표 준비를 해주세요.

#### **<span style="color:red">[데이터 설명]</span>**

* 학습 데이터
    * air_2021.csv : 2021년 미세먼지 데이터
    * weather_2021.csv : 2021년 날씨 데이터
* 테스트 데이터
    * air_2022.csv : 2022년 미세먼지 데이터
    * weather_2022.csv : 2022년 날씨 데이터

# [Step 1] 탐색적 데이터 분석

In [2]:
import pandas as pd
import datetime

---

#### **<span style="color:orange">[1-1] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [3]:
# 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

#### **<span style="color:orange">[1-2] 필요한 데이터 분석 진행 </span>**

In [6]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# head, tail, info, plot을 활용한 시각화 등 진행
display(air_21)
display(air_22)
display(weather_21)
display(weather_22)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,서울 종로구,도시대기,111123,종로구,2021093020,0.003,0.7,0.020,0.036,35.0,24.0,서울 종로구 종로35가길 19
8756,서울 종로구,도시대기,111123,종로구,2021093021,0.003,0.6,0.016,0.035,34.0,21.0,서울 종로구 종로35가길 19
8757,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.012,0.036,30.0,19.0,서울 종로구 종로35가길 19
8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19
8759,서울 종로구,도시대기,111123,종로구,2021093024,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,2022033120,0.002,0.4,0.036,0.017,11.0,8.0,서울 종로구 종로35가길 19
2156,서울 종로구,도시대기,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,서울 종로구 종로35가길 19
2157,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,서울 종로구 종로35가길 19
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,108,서울,2021-12-31 19:00,-6.4,NaN,NaN,NaN,2.2,NaN,250.0,...,NaN,2000,NaN,NaN,-4.5,NaN,-0.5,-0.7,-0.1,1.0
8755,108,서울,2021-12-31 20:00,-6.3,NaN,NaN,NaN,4.1,NaN,320.0,...,NaN,2000,NaN,NaN,-5.3,NaN,-0.6,-0.8,-0.1,1.0
8756,108,서울,2021-12-31 21:00,-6.7,NaN,NaN,NaN,4.8,NaN,320.0,...,NaN,2000,NaN,NaN,-5.7,NaN,-0.7,-0.8,-0.1,1.0
8757,108,서울,2021-12-31 22:00,-7.5,NaN,NaN,NaN,3.0,NaN,320.0,...,NaN,2000,NaN,NaN,-6.2,NaN,-0.8,-0.9,-0.2,1.0
8758,108,서울,2021-12-31 23:00,-7.7,NaN,NaN,NaN,2.9,NaN,320.0,...,NaN,2000,NaN,NaN,-6.5,NaN,-0.9,-0.9,-0.2,1.0

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2022-01-01 00:00,-8.5,NaN,NaN,NaN,1.9,NaN,320,...,NaN,2000,NaN,NaN,-7.0,NaN,-1.0,-1.0,-0.2,1.0
1,108,서울,2022-01-01 01:00,-9.2,NaN,NaN,NaN,1.8,NaN,270,...,NaN,2000,NaN,NaN,-7.2,NaN,-1.1,-1.1,-0.2,1.0
2,108,서울,2022-01-01 02:00,-9.5,NaN,NaN,NaN,1.2,NaN,270,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.2,-0.2,1.0
3,108,서울,2022-01-01 03:00,-9.3,NaN,NaN,NaN,1.4,NaN,290,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.2,-0.2,1.0
4,108,서울,2022-01-01 04:00,-9.6,NaN,NaN,NaN,1.7,NaN,340,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.3,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,108,서울,2022-03-31 19:00,12.3,NaN,NaN,NaN,2.9,NaN,340,...,9.0,2000,NaN,NaN,10.0,NaN,12.6,11.8,11.0,10.2
2156,108,서울,2022-03-31 20:00,11.6,NaN,NaN,NaN,2.7,NaN,340,...,NaN,2000,NaN,NaN,8.9,NaN,12.2,11.6,11.0,10.3
2157,108,서울,2022-03-31 21:00,10.5,NaN,NaN,NaN,3.5,NaN,320,...,10.0,2000,NaN,NaN,7.8,NaN,11.8,11.4,11.0,10.4
2158,108,서울,2022-03-31 22:00,9.3,NaN,NaN,NaN,1.9,NaN,50,...,10.0,2000,NaN,NaN,7.3,NaN,11.4,11.1,10.9,10.5
2159,108,서울,2022-03-31 23:00,8.4,NaN,NaN,NaN,1.2,NaN,360,...,10.0,2000,NaN,NaN,6.7,NaN,11.0,10.8,10.8,10.5

In [9]:
air_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      8760 non-null   object
 1   망       8760 non-null   object
 2   측정소코드   8760 non-null   int64
 3   측정소명    8760 non-null   object
 4   측정일시    8760 non-null   int64
 5   SO2     8648 non-null   float64
 6   CO      8680 non-null   float64
 7   O3      8663 non-null   float64
 8   NO2     8680 non-null   float64
 9   PM10    8655 non-null   float64
 10  PM25    8663 non-null   float64
 11  주소      8760 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 889.7+ KB

In [10]:
air_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      2160 non-null   object
 1   망       2160 non-null   object
 2   측정소코드   2160 non-null   int64
 3   측정소명    2160 non-null   object
 4   측정일시    2160 non-null   int64
 5   SO2     2139 non-null   float64
 6   CO      2139 non-null   float64
 7   O3      2139 non-null   float64
 8   NO2     2139 non-null   float64
 9   PM10    2122 non-null   float64
 10  PM25    2135 non-null   float64
 11  주소      2160 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 219.4+ KB

In [11]:
weather_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8759 non-null   int64
 1   지점명            8759 non-null   object
 2   일시             8759 non-null   object
 3   기온(°C)         8759 non-null   float64
 4   기온 QC플래그       0 non-null      float64
 5   강수량(mm)        949 non-null    float64
 6   강수량 QC플래그      1763 non-null   float64
 7   풍속(m/s)        8757 non-null   float64
 8   풍속 QC플래그       2 non-null      float64
 9   풍향(16방위)       8757 non-null   float64
 10  풍향 QC플래그       2 non-null      float64
 11  습도(%)          8759 non-null   int64
 12  습도 QC플래그       0 non-null      float64
 13  증기압(hPa)       8759 non-null   float64
 14  이슬점온도(°C)      8759 non-null   float64
 15  현지기압(hPa)      8759 non-null   float64
 16  현지기압 QC플래그     0 non-null      float64
 17  해면기압(hPa)      8759 non-null   float64
 18  해면기압 QC플래그     0 non-null      float64
 19  일조(hr)         4791 non-null   float64
 20  일조 QC플래그       3968 non-null   float64
 21  일사(MJ/m2)      4791 non-null   float64
 22  일사 QC플래그       3968 non-null   float64
 23  적설(cm)         379 non-null    float64
 24  3시간신적설(cm)     29 non-null     float64
 25  전운량(10분위)      8757 non-null   float64
 26  중하층운량(10분위)    8759 non-null   int64
 27  운형(운형약어)       4947 non-null   object
 28  최저운고(100m )    4547 non-null   float64
 29  시정(10m)        8759 non-null   int64
 30  지면상태(지면상태코드)   0 non-null      float64
 31  현상번호(국내식)      2125 non-null   float64
 32  지면온도(°C)       8754 non-null   float64
 33  지면온도 QC플래그     24 non-null     float64
 34  5cm 지중온도(°C)   8754 non-null   float64
 35  10cm 지중온도(°C)  8754 non-null   float64
 36  20cm 지중온도(°C)  8754 non-null   float64
 37  30cm 지중온도(°C)  8754 non-null   float64
dtypes: float64(31), int64(4), object(3)
memory usage: 2.5+ MB

In [12]:
weather_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             2160 non-null   int64
 1   지점명            2160 non-null   object
 2   일시             2160 non-null   object
 3   기온(°C)         2160 non-null   float64
 4   기온 QC플래그       0 non-null      float64
 5   강수량(mm)        81 non-null     float64
 6   강수량 QC플래그      382 non-null    float64
 7   풍속(m/s)        2160 non-null   float64
 8   풍속 QC플래그       0 non-null      float64
 9   풍향(16방위)       2160 non-null   int64
 10  풍향 QC플래그       0 non-null      float64
 11  습도(%)          2160 non-null   int64
 12  습도 QC플래그       0 non-null      float64
 13  증기압(hPa)       2160 non-null   float64
 14  이슬점온도(°C)      2160 non-null   float64
 15  현지기압(hPa)      2160 non-null   float64
 16  현지기압 QC플래그     0 non-null      float64
 17  해면기압(hPa)      2160 non-null   float64
 18  해면기압 QC플래그     0 non-null      float64
 19  일조(hr)         1071 non-null   float64
 20  일조 QC플래그       1089 non-null   float64
 21  일사(MJ/m2)      1071 non-null   float64
 22  일사 QC플래그       1089 non-null   float64
 23  적설(cm)         140 non-null    float64
 24  3시간신적설(cm)     15 non-null     float64
 25  전운량(10분위)      2160 non-null   int64
 26  중하층운량(10분위)    2160 non-null   int64
 27  운형(운형약어)       939 non-null    object
 28  최저운고(100m )    743 non-null    float64
 29  시정(10m)        2160 non-null   int64
 30  지면상태(지면상태코드)   0 non-null      float64
 31  현상번호(국내식)      418 non-null    float64
 32  지면온도(°C)       2160 non-null   float64
 33  지면온도 QC플래그     7 non-null      float64
 34  5cm 지중온도(°C)   2160 non-null   float64
 35  10cm 지중온도(°C)  2160 non-null   float64
 36  20cm 지중온도(°C)  2160 non-null   float64
 37  30cm 지중온도(°C)  2160 non-null   float64
dtypes: float64(29), int64(6), object(3)
memory usage: 641.4+ KB

# [Step 2] 데이터 전처리

#### **<span style="color:orange">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22  각각 '측정일시'를 활용하여 'time'변수 생성
    * 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-3]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예: air_21['측정일시'] -1)하세요.
* time 변수를 pd.to_datetime으로 데이터 타입 변경
    * 참고: format = '%Y%m%d%H'

In [17]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [135]:
air_21['time'] = pd.to_datetime(air_21.측정일시.astype(str).str[:-2], format='%Y%m%d')

air_21['hours'] = air_21.측정일시.astype(str).str[-2:].astype(int)
air_21.loc[air_21['hours']==24, 'time'] = air_21['time'] + pd.Timedelta(days=1)
air_21.loc[air_21['hours']==24, 'hours'] = 0

air_21['time'] = air_21['time'] + pd.to_timedelta(air_21['hours'], unit='h')

air_21

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time,hours
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00,1
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00,2
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00,3
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00,4
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 05:00:00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,서울 종로구,도시대기,111123,종로구,2021093020,0.003,0.7,0.020,0.036,35.0,24.0,서울 종로구 종로35가길 19,2021-09-30 20:00:00,20
8756,서울 종로구,도시대기,111123,종로구,2021093021,0.003,0.6,0.016,0.035,34.0,21.0,서울 종로구 종로35가길 19,2021-09-30 21:00:00,21
8757,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.012,0.036,30.0,19.0,서울 종로구 종로35가길 19,2021-09-30 22:00:00,22
8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19,2021-09-30 23:00:00,23
8759,서울 종로구,도시대기,111123,종로구,2021093024,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00,0

In [136]:
air_22['time'] = pd.to_datetime(air_22.측정일시.astype(str).str[:-2], format='%Y%m%d')

air_22['hours'] = air_22.측정일시.astype(str).str[-2:].astype(int)
air_22.loc[air_22['hours']==24, 'time'] = air_22['time'] + pd.Timedelta(days=1)
air_22.loc[air_22['hours']==24, 'hours'] = 0

air_22['time'] = air_22['time'] + pd.to_timedelta(air_22['hours'], unit='h')

air_22

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time,hours
0,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19,2022-01-01 01:00:00,1
1,서울 종로구,도시대기,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 02:00:00,2
2,서울 종로구,도시대기,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 03:00:00,3
3,서울 종로구,도시대기,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19,2022-01-01 04:00:00,4
4,서울 종로구,도시대기,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19,2022-01-01 05:00:00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,2022033120,0.002,0.4,0.036,0.017,11.0,8.0,서울 종로구 종로35가길 19,2022-03-31 20:00:00,20
2156,서울 종로구,도시대기,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,서울 종로구 종로35가길 19,2022-03-31 21:00:00,21
2157,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 22:00:00,22
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 23:00:00,23
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19,2022-04-01 00:00:00,0

---

#### **<span style="color:orange">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 pd.to_datetime으로 데이터 타입 변경

In [137]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6,2021-01-01 01:00:00
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6,2021-01-01 02:00:00
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6,2021-01-01 03:00:00
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 04:00:00
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 05:00:00

In [138]:
weather_21['time'] = pd.to_datetime(weather_21.일시)
weather_22['time'] = pd.to_datetime(weather_22.일시)
weather_22.time

0      2022-01-01 00:00:00
1      2022-01-01 01:00:00
2      2022-01-01 02:00:00
3      2022-01-01 03:00:00
4      2022-01-01 04:00:00
               ...
2155   2022-03-31 19:00:00
2156   2022-03-31 20:00:00
2157   2022-03-31 21:00:00
2158   2022-03-31 22:00:00
2159   2022-03-31 23:00:00
Name: time, Length: 2160, dtype: datetime64[ns]

---

#### **<span style="color:orange">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
    * df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
    * df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [234]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21 = pd.merge(air_21, weather_21, how='inner', on='time')
df_22 = pd.merge(air_22, weather_22, how='inner', on='time')

In [200]:
len(df_21), len(df_22)

(8759, 2159)

---

#### **<span style="color:orange">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
    * df_21, df_22에 사용할 변수들만 넣어보세요.
* time 변수를 index로 세팅하고 (set_index) 데이터가 정렬되어 있지 않으므로 index 기준으로 정렬하세요. (sort_index)

In [233]:
# df_21, df_22에 사용할 변수들만 할당
df_21.columns

Index(['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', '기온(°C)', '강수량(mm)',
       '풍속(m/s)', '풍향(16방위)', '습도(%)', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)',
       '해면기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '시정(10m)', '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

- 필요없는 변수 삭제

In [235]:
# 주소, 지역 지울까?
print(df_21.주소.str.split().str[:2].str.join(' ').value_counts())

서울 종로구    8759
Name: 주소, dtype: int64

In [236]:
df_21.drop(['지역', '망', '측정소코드', '측정소명', '측정일시', '주소', 'hours', '지점', '지점명', '일시'], axis=1, inplace=True)
df_22.drop(['지역', '망', '측정소코드', '측정소명', '측정일시', '주소', 'hours', '지점', '지점명', '일시'], axis=1, inplace=True)

- 결측치가 대부분인 변수 삭제

In [237]:
def difference(arr1, arr2):
    return [x for x in arr1 if x not in arr2]

cols = null_counts[null_counts>len(weather_21)/3]
cols = cols.index.to_list()
cols = difference(cols, ['강수량(mm)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)'])
cols

['기온 QC플래그',
 '강수량 QC플래그',
 '풍속 QC플래그',
 '풍향 QC플래그',
 '습도 QC플래그',
 '현지기압 QC플래그',
 '해면기압 QC플래그',
 '일조 QC플래그',
 '일사 QC플래그',
 '운형(운형약어)',
 '최저운고(100m )',
 '지면상태(지면상태코드)',
 '현상번호(국내식)',
 '지면온도 QC플래그']

In [238]:
null_counts_21 = weather_21.isnull().sum()
null_counts_22 = weather_22.isnull().sum()
cols_21 = null_counts_21[null_counts_21>len(weather_21)/3].index.to_list()
cols_22 = null_counts_22[null_counts_22>len(weather_22)/3].index.to_list()

cols_21 = difference(cols_21, ['강수량(mm)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)'])
cols_22 = difference(cols_22, ['강수량(mm)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)'])
df_21.drop(cols_21, axis=1, inplace=True)
df_22.drop(cols_22, axis=1, inplace=True)

In [240]:
len(df_21.columns), len(df_22.columns)

(28, 28)

- time 변수를 index로 세팅

In [241]:
# time 변수를 index로 세팅
df_21.set_index('time', inplace=True)
df_22.set_index('time', inplace=True)

---

#### **<span style="color:orange">[2-5] 변수들의 결측치 처리</span>**

In [242]:
# df_21, df_22의 결측치 확인
display(df_21.isnull().sum())
df_22.isnull().sum()

SO2               112
CO                 80
O3                 97
NO2                80
PM10              105
PM25               97
기온(°C)              0
강수량(mm)          7810
풍속(m/s)             2
풍향(16방위)            2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           3968
일사(MJ/m2)        3968
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
시정(10m)             0
지면온도(°C)            5
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

SO2                21
CO                 21
O3                 21
NO2                21
PM10               38
PM25               25
기온(°C)              0
강수량(mm)          2078
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           1088
일사(MJ/m2)        1088
적설(cm)           2019
3시간신적설(cm)       2144
전운량(10분위)           0
중하층운량(10분위)         0
시정(10m)             0
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

In [243]:
# df_21, df_22의 남은 결측치를 처리 
# (시계열 데이터니까 보간법 사용해보자)
null_counts_21 = df_21.isnull().sum()
cols_21 = null_counts_21[null_counts_21>0].index.tolist()
for col in cols_21:
    df_21[col] = df_21[col].interpolate()
    
null_counts_22 = df_22.isnull().sum()
cols_22 = null_counts_22[null_counts_22>0].index.tolist()
for col in cols_22:
    df_22[col] = df_22[col].interpolate()

In [244]:
# df_21, df_22의 결측치 재확인
display(df_21.isnull().sum())
df_22.isnull().sum()

SO2                 0
CO                  0
O3                  0
NO2                 0
PM10                0
PM25                0
기온(°C)              0
강수량(mm)            21
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)              6
일사(MJ/m2)           6
적설(cm)           1886
3시간신적설(cm)       1886
전운량(10분위)           0
중하층운량(10분위)         0
시정(10m)             0
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

SO2               0
CO                0
O3                0
NO2               0
PM10              0
PM25              0
기온(°C)            0
강수량(mm)          29
풍속(m/s)           0
풍향(16방위)          0
습도(%)             0
증기압(hPa)          0
이슬점온도(°C)         0
현지기압(hPa)         0
해면기압(hPa)         0
일조(hr)            7
일사(MJ/m2)         7
적설(cm)           29
3시간신적설(cm)       29
전운량(10분위)         0
중하층운량(10분위)       0
시정(10m)           0
지면온도(°C)          0
5cm 지중온도(°C)      0
10cm 지중온도(°C)     0
20cm 지중온도(°C)     0
30cm 지중온도(°C)     0
dtype: int64

In [245]:
df_21.fillna(0, inplace=True)
df_22.fillna(0, inplace=True)

In [246]:
display(df_21.isnull().sum())
df_22.isnull().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

---

#### **<span style="color:orange">[2-6] 전일 같은 시간 미세먼지 농도 변수 추가</span>**

* 먼저 df_21, df_22에 month, day, hour 변수를 추가하세요.
    * 예) dt.month, dt.day, dt.hour 사용 또는 datetimeindex에서는 df.index.month 등 사용 가능
* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가하세요.
    * 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [247]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음). 이후에 저장 시 index(time)은 포함하지 않음.

# df_21의 인덱스를 month, day, hour로 쪼개기
df_21['month'] = df_21.index.month
df_21['day'] = df_21.index.day
df_21['hour'] = df_21.index.hour

# df_22의 인덱스를 month, day, hour로 쪼개기
df_22['month'] = df_22.index.month
df_22['day'] = df_22.index.day
df_22['hour'] = df_22.index.hour

df_21 = df_21.reset_index(drop=True)
df_22 = df_22.reset_index(drop=True)

In [248]:
## 확인
df_21

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),...,중하층운량(10분위),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour
0,0.003,0.6,0.002,0.039,31.0,18.0,18.7,0.0,1.0,20.0,...,0,2000,17.4,22.1,22.0,22.5,22.9,10,1,1
1,0.003,0.6,0.002,0.035,27.0,16.0,18.3,0.0,0.3,0.0,...,0,2000,17.2,21.8,21.8,22.4,22.8,10,1,2
2,0.003,0.6,0.002,0.033,28.0,18.0,17.7,0.0,2.0,20.0,...,0,2000,17.0,21.6,21.6,22.2,22.8,10,1,3
3,0.003,0.6,0.002,0.030,26.0,16.0,17.4,0.0,1.0,50.0,...,0,2000,16.5,21.3,21.4,22.0,22.7,10,1,4
4,0.003,0.5,0.003,0.026,26.0,16.0,17.2,0.0,1.3,270.0,...,0,1995,16.6,21.1,21.2,21.9,22.6,10,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,0.003,0.7,0.020,0.036,35.0,24.0,21.7,0.1,0.9,320.0,...,0,2000,19.9,23.7,23.4,23.1,22.8,9,30,20
8755,0.003,0.6,0.016,0.035,34.0,21.0,20.9,0.1,0.4,0.0,...,0,2000,19.2,23.3,23.1,23.0,22.9,9,30,21
8756,0.003,0.6,0.012,0.036,30.0,19.0,20.4,0.1,0.8,70.0,...,0,2000,18.6,23.0,22.8,22.9,22.9,9,30,22
8757,0.003,0.6,0.004,0.042,33.0,19.0,19.7,0.1,1.4,20.0,...,0,2000,18.1,22.6,22.5,22.8,22.9,9,30,23
8758,0.003,0.6,0.003,0.042,29.0,17.0,19.2,0.1,1.3,360.0,...,0,2000,17.8,22.3,22.3,22.7,22.9,10,1,0

In [249]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.
df_21['PM10_lag1'] = df_21['PM10'].shift(24)
df_22['PM10_lag1'] = df_22['PM10'].shift(24)

## fillna 해야함.

---

#### **<span style="color:orange">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수(PM10_1)를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [250]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(-1)
df_22['PM10_1'] = df_22['PM10'].shift(-1)

In [251]:
# 결측치가 있다면 처리
df_21 = df_21.dropna()
df_22 = df_22.dropna()

In [252]:
df_21

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),...,지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM10_lag1,PM10_1
24,0.002,0.3,0.046,0.012,10.0,7.0,16.6,0.59,1.8,50.0,...,17.6,21.6,21.6,22.4,22.9,10,2,1,31.0,9.0
25,0.003,0.3,0.041,0.014,9.0,6.0,16.8,0.58,0.9,20.0,...,17.9,21.4,21.4,22.2,22.8,10,2,2,27.0,9.0
26,0.003,0.3,0.039,0.015,9.0,8.0,16.6,0.57,0.9,50.0,...,17.7,21.3,21.3,22.0,22.7,10,2,3,28.0,10.0
27,0.003,0.4,0.029,0.016,10.0,7.0,16.7,0.56,1.3,20.0,...,17.4,21.2,21.2,21.9,22.6,10,2,4,26.0,11.0
28,0.002,0.4,0.029,0.016,11.0,9.0,16.5,0.55,1.2,20.0,...,17.6,21.1,21.0,21.7,22.5,10,2,5,26.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753,0.003,0.5,0.038,0.024,36.0,24.0,22.7,0.10,0.2,0.0,...,20.6,24.2,23.7,23.0,22.6,9,30,19,11.0,35.0
8754,0.003,0.7,0.020,0.036,35.0,24.0,21.7,0.10,0.9,320.0,...,19.9,23.7,23.4,23.1,22.8,9,30,20,15.0,34.0
8755,0.003,0.6,0.016,0.035,34.0,21.0,20.9,0.10,0.4,0.0,...,19.2,23.3,23.1,23.0,22.9,9,30,21,18.0,30.0
8756,0.003,0.6,0.012,0.036,30.0,19.0,20.4,0.10,0.8,70.0,...,18.6,23.0,22.8,22.9,22.9,9,30,22,15.0,33.0
8757,0.003,0.6,0.004,0.042,33.0,19.0,19.7,0.10,1.4,20.0,...,18.1,22.6,22.5,22.8,22.9,9,30,23,14.0,29.0

---

#### **<span style="color:orange">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv) (단, 인덱스 제외)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [253]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
x_train = df_21.iloc[:, :-1]
y_train = pd.DataFrame(df_21.iloc[:, -1])

x_test = df_22.iloc[:, :-1]
y_test = pd.DataFrame(df_22.iloc[:, -1])

In [254]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
x_train.to_csv('train_x.csv', index=False)
y_train.to_csv('train_y.csv', index=False)

x_test.to_csv('test_x.csv', index=False)
y_test.to_csv('test_y.csv', index=False)

In [255]:
y_train

      PM10_1
24       9.0
25       9.0
26      10.0
27      11.0
28      11.0
...      ...
8753    35.0
8754    34.0
8755    30.0
8756    33.0
8757    29.0

[8734 rows x 1 columns]